{{#d-modal-body title='election.create.label' class='create-election'}}
  <div class="control-group">
    <label>{{i18n 'election.create.position'}}</label>
    {{input value=position class='input-medium'}}
  </div>
  <div class="control-group">
    <label>{{i18n 'election.create.nomination_message'}}</label>
    {{d-editor value=nominationMessage placeholder='election.create.nomination_message_placeholder'}}
  </div>
  <div class="control-group">
    <label>{{i18n 'election.create.poll_message'}}</label>
    {{d-editor value=pollMessage placeholder='election.create.poll_message_placeholder'}}
  </div>
  <div class="control-group">
    <label>{{i18n 'election.create.closed_poll_message'}}</label>
    {{d-editor value=closedPollMessage placeholder='election.create.closed_poll_message_placeholder'}}
  </div>
  <div class="control-group">
    {{input type="checkbox" checked=selfNominationAllowed}}
    <span>{{i18n 'election.create.self_nomination_allowed'}}</span>
  </div>
  <div class="control-group">
    {{input type="checkbox" checked=statusBanner}}
    <span>{{i18n 'election.status_banner.enable'}}</span>
  </div>
  <div class="control-group">
    <span>{{i18n 'election.status_banner.result_hours'}}</span>
    {{input type="number" value=statusBannerResultHours class='input-small'}}
  </div>
  <div class="control-group">
    {{input type='checkbox' checked=pollOpen}}
    <span>{{i18n 'election.poll.open_time'}}</span>
  </div>
  {{#if pollOpen}}
    {{election-time type='open'
                    after=pollOpenAfter
                    hours=pollOpenAfterHours
                    nominations=pollOpenAfterNominations
                    time=pollOpenTime}}
  {{/if}}
  <div class="control-group">
    {{input type='checkbox' checked=pollClose}}
    <span>{{i18n 'election.poll.close_time'}}</span>
  </div>
  {{#if pollClose}}
    {{election-time type='close'
                    after=pollCloseAfter
                    hours=pollCloseAfterHours
                    time=pollCloseTime}}
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button title='election.create.btn_label' label='election.create.btn_label' action='createElection' class='btn btn-primary' disabled=disabled}}
  {{#if loading}}
    {{loading-spinner size='small'}}
  {{else}}
    <a {{action "closeModal"}}>{{i18n 'cancel'}}</a>
  {{/if}}
</div>
