{{#d-modal-body title='election.create.label' class='create-election-modal'}}
  <div class="control-group">
    <label>{{i18n 'election.create.position'}}</label>
    {{input value=position class='input-medium'}}
  </div>
  <div class="control-group">
    <label>{{i18n 'election.create.nomination_message'}}</label>
    {{d-editor value=nominationMessage placeholder='election.create.nomination_message_placeholder'}}
  </div>
  <div class="control-group">
    <label>{{i18n 'election.create.poll_message'}}</label>
    {{d-editor value=electionMessage placeholder='election.create.poll_message_placeholder'}}
  </div>
  <div class="control-group">
    {{input type="checkbox" checked=selfNominationAllowed}}
    <span>{{i18n 'election.create.self_nomination_allowed'}}</span>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button title='election.create.btn_label' label='election.create.btn_label' action='createElection' class='btn btn-primary' disabled=disabled}}
  {{#if loading}}
    {{loading-spinner size='small'}}
  {{else}}
    <a {{action "closeModal"}}>{{i18n 'cancel'}}</a>
  {{/if}}
</div>
