{{#d-modal-body title='election.manage.label' class='manage-election'}}
  <div class="control-group">
    <label>{{i18n 'election.status.label'}}</label>
    {{combo-box content=electionStatuses value=status}}
    <div class="controls">
      {{manage-election-save save='statusSave'
                             saving=statusSaving
                             icon=statusIcon
                             disabled=statusDisabled}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.manage.nominees'}}</label>
    {{#if showSelector}}
      {{user-selector usernames=usernamesString}}
    {{/if}}
    <div class="controls">
      {{manage-election-save save='usernamesSave'
                             saving=usernamesSaving
                             icon=usernamesIcon
                             disabled=usernamesDisabled}}
    </div>
  </div>

  <div class="control-group">
    {{input type="checkbox" checked=selfNomination}}
    <span>{{i18n 'election.create.self_nomination_allowed'}}</span>
    <div class="controls">
      {{manage-election-save save='selfNominationSave'
                             saving=selfNominationSaving
                             icon=selfNominationIcon
                             disabled=selfNominationDisabled}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.create.nomination_message'}}</label>
    {{d-editor value=nominationMessage placeholder='election.create.nomination_message_placeholder'}}
    <div class="controls">
      {{manage-election-save save='nominationMessageSave'
                             saving=nominationMessageSaving
                             icon=nominationMessageIcon
                             disabled=nominationMessageDisabled}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.create.poll_message'}}</label>
    {{d-editor value=pollMessage placeholder='election.create.poll_message_placeholder'}}
    <div class="controls">
      {{manage-election-save save='pollMessageSave'
                             saving=pollMessageSaving
                             icon=pollMessageIcon
                             disabled=pollMessageDisabled}}
    </div>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button title='election.manage.done' label='election.manage.done' action='close' class='btn btn-primary' disabled=doneDisabled}}
</div>
