{{#d-modal-body title='election.manage.label' class='manage-election'}}
  <div class="control-group">
    <label>{{i18n 'election.create.position'}}</label>
    {{input value=position class='input-medium'}}
    <div class="controls">
      {{election-save property=position
                      name="position"
                      invalid=positionInvalid
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.status.label'}}</label>
    {{combo-box content=electionStatuses value=status}}
    <div class="controls">
      {{election-save property=status
                      name="status"
                      unchanged=statusUnchanged
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group nominees">
    <label>{{i18n 'election.manage.nominees'}}</label>
    {{#if showSelector}}
      {{user-selector usernames=usernamesString}}
    {{/if}}
    <div class="controls">
      {{election-save-usernames property=usernames
                                name="usernames"
                                unchanged=usernamesUnchanged
                                usernamesString=usernamesString
                                topic=topic
                                error="error"
                                saved="saved"
                                showSelector=showSelector}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.winner.label'}}</label>
    {{user-selector usernames=winner single=true}}
    <div class="controls">
      {{election-save property=winner
                      name="winner"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    {{input type="checkbox" checked=selfNomination}}
    <span>{{i18n 'election.create.self_nomination_allowed'}}</span>
    <div class="controls">
      {{election-save property=selfNomination
                      name="self_nomination_allowed"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.create.nomination_message'}}</label>
    {{d-editor value=nominationMessage placeholder='election.create.nomination_message_placeholder'}}
    <div class="controls">
      {{election-save property=nominationMessage
                      name="nomination_message"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.create.poll_message'}}</label>
    {{d-editor value=pollMessage placeholder='election.create.poll_message_placeholder'}}
    <div class="controls">
      {{election-save property=pollMessage
                      name="poll_message"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.create.closed_poll_message'}}</label>
    {{d-editor value=closedPollMessage placeholder='election.create.closed_poll_message_placeholder'}}
    <div class="controls">
      {{election-save property=closedPollMessage
                      name="closed_poll_message"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    {{input type="checkbox" checked=statusBanner}}
    <span>{{i18n 'election.status_banner.enable'}}</span>
    <div class="controls">
      {{election-save property=statusBanner
                      name="status_banner"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <span>{{i18n 'election.status_banner.result_hours'}}</span>
    {{input type="number" value=statusBannerResultHours class='input-small'}}
    <div class="controls">
      {{election-save property=statusBannerResultHours
                      name="status_banner_result_hours"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    {{input type='checkbox' checked=pollOpen}}
    <span>{{i18n 'election.poll.open_time'}}</span>
    <div class="controls">
      {{election-save-time type='open'
                           enabled=pollOpen
                           after=pollOpenAfter
                           hours=pollOpenAfterHours
                           nominations=pollOpenAfterNominations
                           time=pollOpenTime
                           topic=topic
                           error="error"
                           saved="saved"}}
    </div>
  </div>
  {{#if pollOpen}}
    {{election-time type='open'
                    after=pollOpenAfter
                    hours=pollOpenAfterHours
                    nominations=pollOpenAfterNominations
                    time=pollOpenTime}}
  {{/if}}
  <div class="control-group">
    {{input type='checkbox' checked=pollClose}}
    <span>{{i18n 'election.poll.close_time'}}</span>
    <div class="controls">
      {{election-save-time type='close'
                           enabled=pollClose
                           after=pollCloseAfter
                           hours=pollCloseAfterHours
                           voters=pollCloseAfterVoters
                           time=pollCloseTime
                           topic=topic
                           error="error"
                           saved="saved"}}
    </div>
  </div>
  {{#if pollClose}}
    {{election-time type='close'
                    after=pollCloseAfter
                    hours=pollCloseAfterHours
                    voters=pollCloseAfterVoters
                    time=pollCloseTime}}
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button title='election.manage.done' label='election.manage.done' action='close' class='btn btn-primary'}}
</div>
