{{#d-modal-body title='election.manage.label' class='manage-election'}}
  <div class="control-group">
    <label>{{i18n 'election.create.position'}}</label>
    {{input value=position class='input-medium'}}
    <div class="controls">
      {{election-save property=position
                      name="position"
                      invalid=positionInvalid
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.status.label'}}</label>
    {{combo-box content=electionStatuses value=status}}
    <div class="controls">
      {{election-save property=status
                      name="status"
                      unchanged=statusUnchanged
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.manage.nominees'}}</label>
    {{#if showSelector}}
      {{user-selector usernames=usernamesString}}
    {{/if}}
    <div class="controls">
      {{election-save property=usernames
                      name="usernames"
                      unchanged=usernamesUnchanged
                      usernamesString=usernamesString
                      topic=topic
                      error="error"
                      saved="saved"
                      usernamesSelector=true
                      showSelector=showSelector}}
    </div>
  </div>

  <div class="control-group">
    {{input type="checkbox" checked=selfNomination}}
    <span>{{i18n 'election.create.self_nomination_allowed'}}</span>
    <div class="controls">
      {{election-save property=selfNomination
                      name="self_nomination_allowed"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.create.nomination_message'}}</label>
    {{d-editor value=nominationMessage placeholder='election.create.nomination_message_placeholder'}}
    <div class="controls">
      {{election-save property=nominationMessage
                      name="nomination_message"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <label>{{i18n 'election.create.poll_message'}}</label>
    {{d-editor value=pollMessage placeholder='election.create.poll_message_placeholder'}}
    <div class="controls">
      {{election-save property=pollMessage
                      name="poll_message"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    {{input type="checkbox" checked=statusBanner}}
    <span>{{i18n 'election.status_banner.enable'}}</span>
    <div class="controls">
      {{election-save property=statusBanner
                      name="status_banner"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>

  <div class="control-group">
    <span>{{i18n 'election.status_banner.result_hours'}}</span>
    {{input type="number" value=statusBannerResultHours class='input-small'}}
    <div class="controls">
      {{election-save property=statusBannerResultHours
                      name="status_banner_result_hours"
                      topic=topic
                      error="error"
                      saved="saved"}}
    </div>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button title='election.manage.done' label='election.manage.done' action='close' class='btn btn-primary'}}
</div>
